menu "MasterCam"

config MASTER_ID
    string "Master device ID (6 hex digits)"
    default "000000"

config SLAVE_ID
    string "Slave device ID (6 hex digits)"
    default "000000"

config WIFI_SSID
    string "WiFi SSID"
    default ""

config WIFI_PASSWORD
    string "WiFi Password"
    default ""

config CAPSEQ_SLAVE_PREPARE_DELAY_MS
    int "Slave prepare delay (ms)"
    default 3000

config CAPSEQ_DROP_FRAMES
    int "Drop frames to stabilize"
    default 5

config CAPSEQ_SYNC_SAFETY_MS
    int "Sync safety overhead (ms)"
    default 1000

config CAPSEQ_SYNC_UDP_PINGS
    int "UDP sync ping count"
    default 5

config CAPSEQ_SYNC_UDP_PORT
    int "UDP sync port"
    default 65

config CAPSEQ_ALLOW_SLAVE_MISSING
    bool "Allow capture if slave not available"
    default y

endmenu
